<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="ios-basket"></ion-icon>
      <ion-label>Tab Four</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ios-add-circle-outline"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="ios-notifications"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person"></ion-icon>
      <ion-label>Tab Five</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
