.blue-button{
    width: calc(100% - 3em);
    margin: 0 auto 15px;
    border-radius: 10px;
    // padding: 16px;
    line-height: 1.5;
    font-size: 12px;
    background: #3880ff;
    color: #ffffff;
    position: relative;
}
.blue-button:focus{
    background: #3171e0;
    color: #ffffff;
}
.blue-button:hover,
.blue-button:active{
    background: #4c8dff;
    color: #ffffff;
}
ion-button.blue-button > input[type=file]{
    position: absolute;
    width: 100%;
    height: 100%;position: absolute;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    left: 0;
    top: 0;
    opacity: 0;
}
