<ion-content>
  <div>
    <ion-grid class="ion-padding" style="padding-top: 20%;">
      <ion-row>
        <ion-col>
          <h2 style="color: #00bceb; text-transform:uppercase; font-weight: bold;">For You</h2>
          <img class="img1" src="../../assets/images/images.jpg">

          <h2 style="color: #00bceb;">My 8 Days in Hong Kog</h2>
        </ion-col>


      </ion-row>
      <ion-row style="padding-top: 20%;">
        <ion-col>
          <img class="img" src="../../assets/images/img4.jpg">
        </ion-col>
        <ion-col>
          <img class="img" src="../../assets//images/img4.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>